<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Lỗi.</h1>
        <h2>Một số lỗi hình thành.</h2>
    </hgroup>
</body>
</html>
